/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f4f8;
  font-family: 'Segoe UI', sans-serif;
  padding: 40px 10px;
}

.container {
  background-color: white;
  padding: 30px;
  max-width: 500px;
  width: 100%;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin: auto;
}

.main-heading {
  font-size: 2rem;
  color: #0f62fe;
  margin-bottom: 20px;
  text-align: center;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: 8px;
  margin-top: 16px;
  color: #333;
}

input[type="text"],
input[type="file"],
textarea,
select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

button[type="submit"] {
  width: 100%;
  background-color: #0f62fe;
  color: white;
  padding: 14px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #0353e9;
}

.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  text-decoration: none;
  font-size: 1rem;
  color: #0f62fe;
}
